* {
	--font: #a1a1a1;
	--bg: #383838;
	--link: #00adff;
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background: var(--bg);
	color: var(--font);
	text-align: center;
}
#main {
	overflow: auto;
	padding: 5px;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 150px;
	width: 100%;
}
form {
	display: inline-block;
	text-align: left;
}
a {
	color: var(--link);
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
h1 {
	margin: 0;
	margin-bottom: 0.75em;
}
tbody td {
	text-align: left;
}
td {
	font-weight: normal;
}
tfoot td {
	text-align: center;
}
table {
	border-spacing: 0;
}
tr {
	border: none;
	outline: none;
}
table, td {
	border: 1px solid var(--font);
	outline: none;
}
td {
	padding: 2px 5px;
	vertical-align: top;
}
input[type=text], input[type=number], textarea {
	outline: 1px groove var(--font) !important;
	box-shadow: none !important;
	border: none !important;
	color: #000;
	background: #fff;
	width: 100%;
	padding: 1px 2px;
}
input {
	display: inline-block;
	margin: 0;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
}
input[type=submit]{
	text-align: center;
	cursor: pointer;
}
#log {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 150px;
	width: 100%;
	text-align: left;
	padding: 2px 5px;
	background: #2c2c2c;
	border-top: 2px solid var(--font);
	overflow: auto;
}
#log p {
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-button {
	display: none;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
* {
	scrollbar-width: thin; /* firefox */
}
.action {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 5px;
	margin-bottom: 3px;
}
.action:last-of-type {
	margin: 0;
}